.App {
  margin: 30px;
}

.App .container {
  padding: 0;
}

.App main {
  background: #27b1be;
  border-radius: 8px;
  max-width: 100%;
  padding-bottom: 30px;
}

.App h1 {
  text-align: center;
  padding-top: 8px;
  color: #facc2e;
}

.App .Antonio {
  font-family: "Antonio", sans-serif;
}

.App .AlfaSlabOne {
  font-family: "Alfa Slab One", cursive;
}

.App footer {
  font-size: smaller;
}
