.Photos .section {
  background: #f5f5f5;
  margin: 15px 30px 15px 30px;
}

.Photos .img-fluid {
  padding-top: 20px;
  display: block;
  margin: 0 auto;
}

.Photos #courtesy {
  text-align: center;
  font-size: 10px;
  padding-top: 16px;
}
